.card-custom {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.card-custom:hover {
	transform: translateY(-10px);
}

.section-header {
	background-color: #343a40;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.table-container {
	overflow-x: auto;
}