<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Banking App - Accounts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css">
    <link rel="stylesheet" href="/css/styles2.css">
</head>
<body>
    <div class="grid-container">
		<div th:replace="fragments/header :: siteHeader"></div>

        <div class="text-center mb-5">
            <h1>Banking Application - Accounts</h1>
            <p class="lead">View and manage bank accounts.</p>
        </div>

		<div th:replace="fragments/dashboard-cards :: dashboardCards"></div>

        <div class="section-header">Bank Accounts</div>
        <div class="table-container">
            <table class="hover responsive-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Owner</th>
                        <th>Account Number</th>
                        <th>Balance</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="account : ${accounts}">
                        <td th:text="${account.id}"></td>
                        <td th:text="${account.user.username}"></td>
                        <td th:text="${account.accountNumber}"></td>
                        <td th:text="${account.balance}"></td>
                        <td>
                            <a th:href="@{/accounts/edit/{id}(id=${account.id})}" class="button warning small">Edit</a>
                            <a th:href="@{/accounts/delete/{id}(id=${account.id})}" class="button alert small">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center mt-4">
            <a href="/accounts/add" class="button primary">Add New Account</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js"></script>
</body>
</html>
